<div class='card mb-2'>
    <div class='card-body text-start'>
        <div class='d-flex align-items-center'>
            <a href='/profile/<%= post.author.id%>'>
                <h5><%= post.author.username %></h5>
            </a>
            <small class='text-muted ms-auto'>
                <!-- ìƒì„±ì¼ìžê°€ ë“¤ì–´ê°€ì•¼í•¨ -->
            </small>
            <% if (post.author.id.equals(currentUser._id)) { %>
                <div class="dropdown">
                    <button class="no-outline" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        âœŽ
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-center" href="/posts/<%= post._id %>/edit">Edit</a></li>
                        <li>
                            <form class='dropdown-item text-center' action="/posts/<%= post._id %>?_method=delete" method='post'>
                                <button type='submit' class='no-outline'>Delete</button>
                            </form>
                        </li>
                    </ul>
                  </div>
            <% } %>
        </div>
        <p class='card-text mt-2'>
            <%= post.description %>
        </p>
        <% if (post.images) { %>
            <img class="w-100" src='/assets/images/<%= post.images %>'/>
        <% } %>

        <hr class='mt-1'>
        <div class='d-flex justify-content-between'>
            <div class='row'>
                <form action='/posts/<%= post._id %>/like' method='POST'>
                    <% if (post.likes.find(like => like === currentUser._id.toString())) { %>
                        <button type='submit' class='no-outline'>
                            <span>ðŸ˜€</span>
                            <span><%= post.likes.length %></span>
                        </button>
                    <% } else {%>
                        <button type='submit' class='no-outline'>
                            <span>ðŸ«¥</span>
                            <span><%= post.likes.length %></span>
                        </button>
                    <%}%>
                </form>
            </div>
            <a class='ms-auto pe-2' data-bs-toggle='collapse' href='#post<%= post._id %>'>
                ëŒ“ê¸€
            </a>
        </div>

        <hr class='mt-1'>
        <div class='collapse' id='post<%= post._id %>'>
            <% if (post.comments.length>0) { %>
                <div class='card-body comment-section'>
                    <% post.comments.forEach((comment) => { %>
                        <div class='d-flex justify-content-between'>
                            <div class='font-weight-bold'>
                                <%= comment.author.username %>
                            </div>
                            <small>
                                
                            </small>
                        </div>
                        <div class='d-flex justify-content-between'>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if (comment.author.id.equals(currentUser._id)) { %>
                             <div class='dropdown'>
                                <button class='no-outline' type='button' data-bs-toggle='dropdown'>
                                    âœŽ
                                </button>
                                <div class='dropdown-menu'>
                                    <a class='dropdown-item text-center' href='/posts/<%=post._id%>/comments/<%= comment._id %>/edit'>Edit</a>
                                    <form class='dropdown-item text-center' action='/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE' method='post'>
                                        <button class='no-outline' type='submit'>Delete</button>
                                    </form>
                                </div>
                             </div>
                            <% } %>
                        </div>

                    <% }) %>
                </div>
            <% } %>
        </div>
        <div>
            <form method='POST' action='/posts/<%= post._id %>/comments'>
                <div class='form-group'>
                    <input name='text' id='desc' class='comment-section' placeholder='ëŒ“ê¸€ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”' required />
                    <p class='small ms-2'> ì—”í„°ë¥¼ ëˆŒëŸ¬ì£¼ì„¸ìš”</p>
                </div>
            </form>
        </div>
    </div>
</div>