<%- include('../partials/header') %>

<div class='container col-lg-8 mt-4'>
    <div class='card'>
        <h5 class='card-header'>프로필 수정하기</h5>
        <div class='card-body'>
            <form action='/profile/<%= user._id %>?_method=PUT' method='post'>
                <div class='form-group'>
                    <label for='fname'>First Name</label>
                    <input type='text' name='firstName' id='fname' class='form-control' value='<%= user.firstName %>'/>
                </div>
                <div class='form-group'>
                    <label for='lname'>Last Name</label>
                    <input type='text' name='lastName' id='lname' class='form-control' value='<%= user.lastName %>'/>
                </div>
                <div class='form-group'>
                    <label for='bio'>Bio</label>
                    <input type='text' name='bio' id='bio' class='form-control' value='<%= user.bio %>'/>
                </div>
                <div class='form-group'>
                    <label for='hometown'>Hometown</label>
                    <input type='text' name='hometown' id='hometown' class='form-control' value='<%= user.hometown %>'/>
                </div>
                <div class='form-group'>
                    <label for='workplace'>Workplace</label>
                    <input type='text' name='workplace' id='workplace' class='form-control' value='<%= user.workplace %>'/>
                </div>
                <div class='form-group'>
                    <label for='edu'>Education</label>
                    <input type='text' name='education' id='edu' class='form-control' value='<%= user.education %>'/>
                </div>
                <div class='form-group'>
                    <label for='contact'>Contact</label>
                    <input type='text' name='contact' id='contact' class='form-control' value='<%= user.contact %>'/>
                </div>
                <button type='submit' class='btn btn-primary mt-2'>수정하기</button>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>