<%- include('../partials/header') %>

<div class='container col-lg-8'>
    <div class='mt-2'>
        <div class='card'>
            <h5 class='card-header text-start'>친구 요청</h5>
            <div class='card-body'>
                <% if (currentUser.friendsRequests.length === 0) { %>
                 <div class='card-text text-center text-muted'>
                    아직 친구 요청이 없습니다.
                 </div>
                <% } else{ %>
                    <% currentUser.friendsRequests.forEach((friendId) => { %>
                        <% const friend = users.find(user => user._id.toString() === friendId) %>
                        <div class='card' style='border: none;'>
                            <div class='card-body'>
                                <div class='d-flex justify-content-between'>
                                    <a href='/profile/<%= friendId %>'>
                                        <p><%= friend.username %></p>
                                    </a>
                                    <div class='d-flex'>
                                        <form action='/friends/<%= friendId %>/accept-friend-request?_method=PUT' method='POST' class='me-3'>
                                            <button class='btn btn-primary btn-sm' type='submit'>친구 요청 수락하기</button>
                                        </form>
                                        <form action='/friends/<%= friendId %>/remove-friend-request?_method=PUT' method='POST' class='me-3'>
                                            <button class='btn btn-primary btn-sm' type='submit'>친구 요청 거절하기</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>

    <div class='mt-2'>
        <div class='card'>
            <h5 class='card-header text-start'>알 수도 있는 친구</h5>
            <div class='card-body'>
                <% users.forEach((user) => { %>
                    <% if (!user._id.equals(currentUser.id) && 
                    !currentUser.friends.find(friendId => friendId === user._id.toString()) && 
                    !currentUser.friendsRequests.find(friendId => friendId === user._id.toString())
                    ) { %>
                        <div class='card' style='border: none;'>
                            <div class='card-body'>
                                <div class='d-flex justify-content-between'>
                                    <a href='/profile/<%= user._id %>'>
                                          <%= user.username %>  
                                    </a>
                                    <% if(user.friendsRequests.find(friendId => friendId === currentUser._id.toString())){ %>
                                        <form action='/friends/<%= user._id %>/remove-friend-request?_method=PUT' method='post' class='ms-auto'>
                                            <button type='submit' class='btn sm-btn btn-primary'>친구 요청 취소하기</button>    
                                        </form>
                                    <% } else { %>
                                        <form action='/friends/<%= user._id %>/add-friend?_method=PUT' method='post' class='ms-auto'>
                                            <button type='submit' class='btn sm-btn btn-primary'>친구 요청</button>    
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>

    <div class='mt-2'>
        <div class='card'>
            <h5 class='card-header text-start'>친구</h5>
            <div class='card-body'>
                <% if (currentUser.friends.length === 0) { %>
                 <div class='card-text text-center text-muted'>
                    아직 친구가 없습니다.
                 </div>
                <% } else{ %>
                    <% currentUser.friends.forEach((friendId) => { %>
                        <% const friend = users.find(user => user._id.toString() === friendId) %>
                        <div class='card' style='border: none;'>
                            <div class='card-body'>
                                <div class='d-flex justify-content-between'>
                                    <a href='/profile/<%= friendId %>'>
                                        <p><%= friend.username %></p>
                                    </a>
                                    <div class='d-flex'>
                                        <form action='/friends/<%= friendId %>/remove-friend?_method=PUT' method='POST' class='me-3'>
                                            <button class='btn btn-primary btn-sm' type='submit'>친구 삭제</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>